<template>
  <Auth>
  <div>
    <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <b-button
        @click="logout()"
        v-if="isLogin"
        type="button"
        variant="light"
        class="btntop"
      >
        ออกจากระบบ
      </b-button>
      <h5 class="textname" style="float: right">ชื่อผู้ใช้: {{ this.$store.state.auth.user.name }}  สถานะ: {{ this.$store.state.auth.user.type }}</h5>
    </div>
    <br />
    <div style="float: left">
      <b-button-group>
        <b-button id="" type="button" variant="outline-primary"
          ><router-link to="/admin">เอกสาร</router-link></b-button
        >
        <b-button id="" type="button" variant="outline-primary"
          ><router-link to="/tableusers">ผู้ใช้</router-link></b-button
        >
        <b-button id="" type="button" variant="outline-primary"
          ><router-link to="/tablepositions">ตำแหน่ง</router-link></b-button
        >
      </b-button-group>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>สถานะ</th>
            <th>วันที่</th>
            <th>เอกสาร</th>
            <th>ลบเอกสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in document" :key="index">
            <td :class="changeStatusColor(item.status)">
              {{ item.status }} {{ item.name }}
            </td>
            <td>{{ item.date1 }}</td>
            <a href="" @click="onClick(item)" id="output_text">{{
              item.fileName
            }}</a>
            <td>
              <b-button
              v-b-modal.bv-modal-DeleteDoc
                class="btn btn-danger"
                @click="showDeleteDoc(item._id)"
              >
                ลบ
              </b-button>
            </td>
          </tr>
        </tbody>
        <DeleteDoc :documentId="docId" v-if="showPopup" />
      </table>
    </div>
  </div>
</Auth>
</template>
<script>
import DeleteDoc from "../componentAdmin/DeleteDoc.vue";
import axios from "axios";
import EditPosition from "../componentAdmin/EditPosition.vue";
import Auth from "../components/Auth";
export default {
  data() {
    return {
      document: [],
      docId: "",
      showPopup: false,
      
    };
  },created() {
    this.$root.$refs.Admin = this;
  },
  components: {
    DeleteDoc,
    Auth,
    EditPosition
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },
    getAllDoc() {
      axios
        .get("http://localhost:3000/documents")
        .then((res) => {
          this.document = res.data;
          this.items = document;
          console.log(this.items);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    showDeleteDoc(send) {
      this.showPopup = true;
      this.docId = send;
    },
    changeStatusColor(item) {
      try {
        if (item == "-") {
          return "blue";
        } else if (item == "กำลังดำเนินการ") {
          return "yellow";
        } else if (item == "สำเร็จ") {
          return "green";
        } else {
          return "red";
        }
      } catch (error) {
        return "red";
      }
    },
  },
  mounted() {
    this.getAllDoc();
  },
  computed: {
    isLogin() {
      return this.$store.getters["auth/isLogin"];
    },
  },
};
</script>
<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.textname {
  color: aliceblue;
  font: 1em sans-serif;
  transform: translate(40%, -20%);
}
.btntop {
  float: right;
  transform: translate(-20%, 80%);
}
.yellow {
  color: rgb(255, 217, 0);
}

.green {
  color: rgb(5, 109, 5);
}

.blue {
  color: rgb(0, 10, 194);
}

.red {
  color: red;
}
</style>