<template>
  <Auth>
    <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <b-button
        @click="logout()"
        v-if="isLogin"
        type="button"
        variant="light"
        class="btntop"
      >
        ออกจากระบบ
      </b-button>
      <h5 class="textname" style="float: right">ชื่อผู้ใช้: {{ this.$store.state.auth.user.name }}  สถานะ: {{ this.$store.state.auth.user.type }}</h5>
    </div>
    <div>
      <br /><br />
      <div>
        <b-button-group style="float: left">
          <b-button variant="primary">เอกสารที่ต้องเซ็น</b-button>
        </b-button-group>
      </div>
      <div><br /><br /></div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>รหัสนิสิต</th>
            <th>วันที่</th>
            <th>เอกสาร</th>
            <th>อัปโหลดเอกสาร</th>
            <th>ยกเลิก</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in document" :key="index">
            <td>{{ item.studentId }}</td>
            <td>{{ item.date1 }}</td>
            <a href="" @click="onClick(item)" id="output_text">{{
              item.fileName
            }}</a>
            <td>
              <b-button
                v-b-modal.bv-modal-popupLoad
                variant="primary"
                @click="showPopupUpLoad(item.documentId)"
              >
                อัปโหลด
              </b-button>
            </td>
            <td>
              <b-button
                v-b-modal.bv-modal-popupCancel
                variant="danger"
                @click="showPopupCancle(item.documentId)"
              >
                ยกเลิก
              </b-button>
            </td>
          </tr>
          <PopupLoadOfficer :document="docId" v-if="showPopup" />
          <PopupCancelOfficer :document="docId" v-if="showPopup" />
        </tbody>
      </table>
    </div>
  </Auth>
</template>
<script>
// import Auth from "../components/Auth";
import PopupLoadOfficer from "../componentOfficer/PopupLoadOfficer.vue";
import axios from "axios";
import PopupCancelOfficer from "../componentOfficer/PopupCancelOfficer.vue";
export default {
  data() {
    return {
      showPopup: false,
      docId: "",
      document: [],
    };
  },
  created() {
    this.$root.$refs.Officer = this;
  },
  computed: {
    isLogin() {
      return this.$store.getters["auth/isLogin"];
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },
    getData() {
      axios
        .get(
          "http://localhost:3000/sendingDetails/" +
            this.$store.state.auth.user.teacherId
        )
        .then((res) => {
          this.document = res.data;
          console.log(this.document);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    showPopupUpLoad(send) {
      this.showPopup = true;
      this.docId = send;
    },
    showPopupCancle(send) {
      this.showPopup = true;
      this.docId = send;
    },
    onClick(item) {
      axios({
        url: "http://localhost:3000/download/" + item.documentId,
        method: "POST",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        console.log(item), (fileLink.href = fileURL);
        fileLink.setAttribute("download", item.fileName);
        document.body.appendChild(fileLink);

        fileLink.click();
      });
      // document.getElementById("output_text").style.color = "#FF0000";
    },
  },
  components: {
    PopupCancelOfficer,
    PopupLoadOfficer,
    // Auth
  },
  mounted() {
    this.getData();
  },
};
</script>
<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.textname {
  color: aliceblue;
  font: 1em sans-serif;
  transform: translate(40%, -20%);
}
.btntop {
  float: right;
  transform: translate(-20%, 80%);
}
</style>
