<template>
  <Auth>
    <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <b-button
        @click="logout()"
        v-if="isLogin"
        type="button"
        variant="light"
        class="btntop"
      >
        ออกจากระบบ
      </b-button>
      <h5 class="textname" style="float: right">ชื่อผู้ใช้: {{ this.$store.state.auth.user.name }} สถานะ: {{ this.$store.state.auth.user.type }}</h5>
    </div>
    <div>
      <a style="float: left">ดาวน์โหลดเอกสารต่างๆ</a><br />
      <p>
        <a
          href="https://reg.buu.ac.th/registrar/downloadform.asp?avs79175170=1"
          style="float: left"
          >https://reg.buu.ac.th/registrar/downloadform.asp?avs79175170=1</a
        >
      </p>
    </div>
    <br />
    <div>
      <popup-load></popup-load>
      <button
        v-b-modal.bv-modal-popupLoad
        style="float: left"
        class="btn btn-outline-primary"
      >
        อัปโหลดเอกสาร
      </button>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>สถานะ</th>
            <th>วันที่</th>
            <th>เอกสาร</th>
            <th>ส่งเอกสาร</th>
            <th>ลบเอกสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in document" :key="index">
            <td :class="changeStatusColor(item.status)">{{ item.status }}  {{ item.name }}</td>
            <td>{{ item.date1 }}</td>
            <a href="" @click="onClick(item)" id="output_text">{{
              item.fileName
            }}</a>
            <td>
              <b-button
                v-b-modal.bv-modal-popupSend
                variant="primary"
                @click="showPopupSend(item._id)"
              >
                ส่ง
              </b-button>
            </td>
            <td>
              <b-button
                v-b-modal.bv-modal-popupDelect
                variant="danger"
                @click="showPopupDelecte(item._id)"
              >
                ลบ
              </b-button>
            </td>
          </tr>
        </tbody>
        <PopupSend :documentId="docId" v-if="showPopup" />
        <PopupDelecte :documentId="docId" v-if="showPopup" />
      </table>
    </div>
  </Auth>
</template>
<script>
import PopupSend from "../components/PopupSend.vue";
import PopupDelecte from "../components/PopupDelecte.vue";
import PopupCancel from "../components/PopupCancel.vue";
import PopupLoad from "../components/PopupLoad.vue";
import axios from "axios";
import Auth from "../components/Auth";

export default {
  data() {
    return {
      showPopup: false,
      docId: "",
      document: [],
    };
  },
  created() {
    this.$root.$refs.Student = this;
  },
  computed: {
    isLogin() {
      return this.$store.getters["auth/isLogin"];
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },
    changeStatusColor(item) {
      try {
        if (item == "-") {
          return "blue";
        } else if (item == "กำลังดำเนินการ") {
          return "yellow";
        } else if (item == "สำเร็จ") {
          return "green";
        } else {
          return "red";
        }
      } catch (error) {
        return "red";
      }
    },
    getData() {
      axios
        .get(
          "http://localhost:3000/documents/" + this.$store.state.auth.user._id
        )
        .then((res) => {
          this.document = res.data;
          this.items = document;
          console.log(this.document);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    showPopupSend(send) {
      this.showPopup = true;
      this.docId = send;
    },
    showPopupDelecte(send) {
      this.showPopup = true;
      this.docId = send;
    },
    onClick(item) {
      axios({
        url: "http://localhost:3000/download/" + item._id,
        method: "POST",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");
        console.log(item), (fileLink.href = fileURL);
        fileLink.setAttribute("download", item.fileName);
        document.body.appendChild(fileLink);

        fileLink.click();
      });
    },
  },
  components: {
    PopupDelecte,
    PopupCancel,
    PopupLoad,
    PopupSend,
    Auth,
  },
  mounted() {
    this.getData();
  },
};
</script>

<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.textname {
  color: aliceblue;
  font: 1em sans-serif;
  transform: translate(40%, -20%);
}
.btntop {
  float: right;
  transform: translate(-20%, 80%);
}
.yellow {
  color: rgb(255, 217, 0);
}

.green {
  color: rgb(5, 109, 5);
}

.blue {
  color: rgb(0, 10, 194);
}

.red {
  color: red;
}
</style>
