<template>
<Auth>
  <div>
    <div>
      <div class="container-fluid">
        <span class="text"
          ><img
            src="../assets/logo.png"
            class="img-rounded"
            style="width: 5%"
          />
          คณะวิทยาการสารสนเทศ</span
        >
        <b-button
        @click="logout()"
        v-if="isLogin"
        type="button"
        variant="light"
        class="btntop"
      >
        ออกจากระบบ
      </b-button>
      <h5 class="textname" style="float: right">ชื่อผู้ใช้: {{ this.$store.state.auth.user.name }}  สถานะ: {{ this.$store.state.auth.user.type }}</h5>
    </div>
      <br />
      <div style="float: left">
        <b-button-group>
          <b-button id="" type="button" variant="outline-primary"
            ><router-link to="/admin">เอกสาร</router-link></b-button
          >
          <b-button id="" type="button" variant="outline-primary"
            ><router-link to="/tableusers">ผู้ใช้</router-link></b-button
          >
          <b-button id="" type="button" variant="outline-primary"
          ><router-link to="/tablepositions">ตำแหน่ง</router-link></b-button
        >
        </b-button-group>
      </div>
      <div style="float: right; margin-right: 20px">
        <AddUser></AddUser>
        <b-button
          id="adduser"
          type="button"
          variant="success"
          v-b-modal.bv-modal-addUser
          >เพิ่มผู้ใช้</b-button
        >
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>ชื่อ-สกุล</th>
            <th>อีเมลล์</th>
            <th>สถานะ</th>
            <th>สาขา</th>
            <th>แก้ไขผู้ใช้</th>
            <th>ลบผู้ใช้</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in user" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.branch }}</td>
            <td>
              <b-button variant="primary"
              v-b-modal.bv-modal-editUser
              @click="showEditUser(item._id)">
                แก้ไข
              </b-button>
            </td>
            <td>
              <b-button
                v-b-modal.bv-modal-deleteUser
                variant="danger"
                @click="showDeleteUser(item._id)"
              >
                ลบ
              </b-button>
            </td>
          </tr>
        </tbody>
        <EditUser :userId="userId" v-if="showPopup"/>
        <DeleteUser :userId="userId" v-if="showPopup" />
      </table>
    </div>
  </div>
</Auth>
</template>
<script>
import DeleteUser from "../componentAdmin/DeleteUser.vue";
import axios from "axios";
import AddUser from "../componentAdmin/AddUser.vue";
import EditUser from "../componentAdmin/EditUser.vue";
import EditPosition from "../componentAdmin/EditPosition.vue";
import Auth from "../components/Auth";
export default {
  data() {
    return {
      showPopup: false,
      user: [],
      userId: "",
      selectedItem: null
    };
  },
  components: {
    AddUser,
    DeleteUser,
    EditUser,
    Auth,
    EditPosition
  },
  created() {
    this.$root.$refs.TableUsers = this;
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
    },
    getAll() {
      axios
        .get("http://localhost:3000/users")
        .then((res) => {
          this.user = res.data;
          // console.log(this.items);
        })
        .catch((err) => {
          console.log(err);
        });
    }, 
    showDeleteUser(send) {
      this.showPopup = true;
      this.userId = send;
    }, 
    showEditUser(send) {
      this.showPopup = true;
      this.userId = send;
      // console.log(this.userId)
    },
  },
  mounted() {
    this.getAll();
  },
  computed: {
    isLogin() {
      return this.$store.getters["auth/isLogin"];
    },
  },
};
</script>
<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.textname {
  color: aliceblue;
  font: 1em sans-serif;
  transform: translate(40%, -20%);
}
.btntop {
  float: right;
  transform: translate(-20%, 80%);
}
</style>