<template>
<Auth>
  <div>
    <div>
      <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <b-button
        @click="logout()"
        v-if="isLogin"
        type="button"
        variant="light"
        class="btntop"
      >
        ออกจากระบบ
      </b-button>
      <h5 class="textname" style="float: right">ชื่อผู้ใช้: {{ this.$store.state.auth.user.name }}  สถานะ: {{ this.$store.state.auth.user.type }}</h5>
    </div>
    <br />
    <div style="float: left">
        <b-button-group>
            <b-button id="" type="button" variant="outline-primary"><router-link to="/admin">เอกสาร</router-link></b-button>
            <b-button id="" type="button" variant="outline-primary"><router-link to="/tableusers">ผู้ใช้</router-link></b-button>
            <b-button id="" type="button" variant="outline-primary"><router-link to="/tablepositions">ตำแหน่ง</router-link></b-button>
        </b-button-group>
    </div>
      <div style="float: right;  margin-right: 20px;">
        <EditPosition></EditPosition>
        <AddPosition></AddPosition>
        <b-button
          id="addposition"
          type="button"
          variant="success"
          v-b-modal.bv-modal-addPosition
          >เพิ่มตำแหน่ง</b-button
        >
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>ตำแหน่ง</th>
            <th>ชื่อ-สกุล</th>
            <th>แก้ไขตำแหน่ง</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in positions" :key="index">
            <td>{{ index+1 }}</td>
            <td>{{  item.namePos }}</td>
            <td>{{ item.name }}</td>
            <td>
              <b-button variant="primary"
              v-b-modal.bv-modal-editPosition
              @click="showEditPosition(item._id)">
                แก้ไข
              </b-button>
            </td>
          </tr>
        </tbody>
        <EditPosition :id="id" v-if="showPopup"/>
      </table>
    </div>
  </div>
  </Auth>
</template>
<script>
import axios from "axios";
import EditPosition from "../componentAdmin/EditPosition.vue";
import Auth from "../components/Auth";
import AddPosition from "../componentAdmin/AddPosition.vue";
export default {
  data() {
    return {
      showPopup: false,
      positions: [],
    };
  },
  components: {
    EditPosition,
    Auth,
    AddPosition
  },
  created() {
    this.$root.$refs.TablePositions = this;
  },
   methods: {
    showEditPosition(send) {
      this.showPopup = true;
      this.id = send;
      // console.log(this.userId)
    },
    logout() {
      this.$store.dispatch("auth/logout");
    },
    getAll() {
      axios
        .get("http://localhost:3000/positions")
        .then((res) => {
          this.positions = res.data;
          // console.log(this.items);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    this.getAll();
  },
  computed: {
    isLogin() {
      return this.$store.getters["auth/isLogin"];
    },
  },
};
</script>
<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.textname {
  color: aliceblue;
  font: 1em sans-serif;
  transform: translate(40%, -20%);
}
.btntop {
  float: right;
  transform: translate(-20%, 80%);
}
</style>