<template>
  <div>
    <b-modal id="bv-modal-addPosition" title="เพิ่มตำแหน่ง" hide-footer>
        <b-form-group label="ชื่อตำแหน่ง:">
        <b-form-input
          v-model="form.positionInput"
          id="Position"
          :state="validatePosition"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="รายชื่ออาจารย์">
        <select v-model="selectedOptionName">
      <option
        v-for="(item, index) in optionsName"
        :value="{ id: item._id }"
        :key="index"
      >
        {{ item.name }}
      </option>
    </select>
    </b-form-group>
        <b-button
        variant="danger"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-addUser'), reset()"
        >ยกเลิก</b-button
      >
      <b-button
        variant="primary"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="handleOk()"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
    optionsName: [],
      form: {
        positionInput: ""
      },
      selectedOptionName: "null"
    };
  },
  methods: {

    loadOptionsName() {
      axios.get("http://localhost:3000/search").then((optionsName) => {
        this.optionsName = optionsName.data;
      });
    },
    handleOk() {
      this.addPositions();
      this.$nextTick(() => {
        this.$bvModal.hide("bv-modal-addPosition");
      });
    },
    reset() {
      this.form = {
        positionInput: "",
      };
      this.selectedOptionName = "null"
    },

    addPositions() {
      var detail = {};
      (detail.namePos = this.form.positionInput),
        detail.userId = this.selectedOptionName.id;
      console.log(detail);
      axios
        .post("http://localhost:3000/positions", detail)
        .then((res) => {
          console.log(res);
          this.reset();
          this.$root.$refs.TablePositions.getAll();
          //
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    this.loadOptionsName();
  },
  computed: {
    validatePosition() {
      return this.form.positionInput !== "";
    }
  },
};
</script>