<template>
  <div>
    <b-modal id="bv-modal-addUser" title="เพิ่มผู้ใช้" hide-footer>
      <b-form-group label="ชื่อ-สกุล:">
        <b-form-input
          v-model="form.nameInput"
          id="name"
          :state="validateName"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="อีเมลล์:">
        <b-form-input
          v-model="form.emailInput"
          id="email"
          required
          type="email"
          placeholder="@email"
          :state="validateEmail"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="รหัสผ่าน:">
        <b-form-input
          v-model="form.passwordInput"
          id="password"
          placeholder="********"
          :state="validatePassword"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="รหัสนิสิต:">
        <b-form-input
          v-model="form.studentIdInput"
          id="studentId"
          placeholder="6116****"
          :state="validateStudentId"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="บทบาท" :state="validateRole">
        <b-form-radio v-model="form.role" name="STUDENT" value="STUDENT"
          >นิสิต</b-form-radio
        >
        <b-form-radio v-model="form.role" name="TEACHER" value="TEACHER"
          >อาจารย์</b-form-radio
        >
        <b-form-radio v-model="form.role" name="OFFICER" value="OFFICER"
          >เจ้าหน้าที่</b-form-radio
        >
        <b-form-radio v-model="form.role" name="ADMIN" value="ADMIN"
          >แอดมิน</b-form-radio
        >
      </b-form-group>
      <b-form-group label="สถานะ" :state="validateType">
        <b-form-radio v-model="form.type" name="นิสิต" value="นิสิต"
          >นิสิต</b-form-radio
        >
        <b-form-radio v-model="form.type" name="อาจารย์" value="อาจารย์"
          >อาจารย์</b-form-radio
        >
        <b-form-radio v-model="form.type" name="เจ้าหน้าที่" value="เจ้าหน้าที่"
          >เจ้าหน้าที่</b-form-radio
        >
        <b-form-radio v-model="form.type" name="แอดมิน" value="แอดมิน"
          >แอดมิน</b-form-radio
        >
      </b-form-group>
      <b-form-group label="สาขา" :state="validateBranch">
        <b-form-radio v-model="form.branch1" name="-" value="-"
          >ไม่มี</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="CS" value="CS"
          >วิทยาการคอมพิวเตอร์</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="IT" value="IT"
          >เทคโนโลยีสารสนเทศเพื่ออุตสาหกรรมดิจิทัล</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="SE" value="SE"
          >วิศวกรรมซอฟต์แวร์</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="AI" value="AI"
          >ปัญญาประดิษฐ์ประยุกต์และเทคโนโลยีอัจฉริยะ</b-form-radio
        >
      </b-form-group>
      <div>
        {{ validateForm }}
      </div>
      <!-- <div>
        {{ form }}
      </div> -->
      <b-button
        variant="danger"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-addUser'), reset()"
        >ยกเลิก</b-button
      >
      <b-button
        variant="primary"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="handleOk()"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  // props: {
  //   User: Object
  // },
  data() {
    return {
      form: {
        nameInput: "",
        emailInput: "",
        passwordInput: "",
        studentIdInput: "",
        role: "",
        branch1: "",
        type: "",
      },
    };
  },
  methods: {
    getAll() {
      axios
        .get("http://localhost:3000/users")
        .then((res) => {
          this.user = res.data;
          this.items = user;
          console.log(this.items);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleOk() {
      this.addUser();
      this.$nextTick(() => {
        this.$bvModal.hide("bv-modal-addUser");
      });
    },
    reset() {
      this.form = {
        nameInput: "",
        emailInput: "",
        passwordInput: "",
        studentIdInput: "",
        role: "",
        branch1: "",
        type: "",
      };
    },
    // showToast() {
    //     this.$bvToast.toast(`ไม่สำเร็จ`, {
    //       title: 'เพิ่มผู้ใช้'
    //     })
    //   },
    addUser() {
      var User = {};
      (User.email = this.form.emailInput),
        (User.password = this.form.passwordInput),
        (User.roles = this.form.role),
        (User.name = this.form.nameInput),
        (User.type = this.form.type),
        (User.branch = this.form.branch1),
        (User.studentId = this.form.studentIdInput),
        (User.teacherId = "-");
      console.log(User);
      axios
        .post("http://localhost:3000/users", User)
        .then((res) => {
          console.log(res);
          // this.getAll()
          //รีฟอร์ม รีหน้า
          this.reset();
          this.$root.$refs.TableUsers.getAll();
          //
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  // watch: {
  //   role: function (newValue, oldValue) {
  //     if (newValue == "STUDENT") {
  //       this.form.type = "นิสิต";
  //     } else if (newValue == "TEACHER") {
  //       this.form.type = "อาจารย์";
  //     } else if (newValue == "OFFICER") {
  //       this.form.type = "เจ้าหน้าที่";
  //     } else if (newValue == "ADMIN") {
  //       this.form.type = "แอดมิน";
  //     } else {
  //       console.log("Noooooo");
  //     }
  //     console.log(type);
  //   },
  // },
  mounted() {
    this.getAll();
  },
  computed: {
    validateName() {
      return this.form.nameInput !== "";
    },
    validateEmail() {
      return this.form.emailInput !== "";
    },
    validatePassword() {
      return this.form.passwordInput.length >= 10;
    },
    validateStudentId() {
      return this.form.studentIdInput !== "";
    },
    validateRole() {
      return this.form.role !== "";
    },
    validateType() {
      return this.form.type !== "";
    },
    validateBranch() {
      return this.form.branch1 !== "";
    },
  },
};
</script>
<style>
</style>