<template>
    <div>
      <b-modal id="bv-modal-deleteUser" hide-footer>
        <!-- <template #modal-title></template> -->
        <div class="d-block text-center">
          <h3>ต้องการลบผู้ใช้ใช่หรือไม่!!</h3>
        </div>
        <b-button
          variant="danger"
          style="float: right;  margin-right: 20px;"
          class="mt-3"
          block
          @click="$bvModal.hide('bv-modal-deleteUser')"
          >ยกเลิก</b-button
        >
        <b-button
          variant="primary"
          style="float: right;  margin-right: 20px;"
          class="mt-3"
          block
          @click="$bvModal.hide('bv-modal-deleteUser'), deleteUser(userId)"
          >ตกลง</b-button
        >
      </b-modal>
    </div>
  </template>
  <script>
  import axios from "axios";
  export default {
    props: ["userId"],
    data() {},
    methods: {
      deleteUser(userId) {
        console.log(userId)
        axios
          .delete("http://localhost:3000/users/" + userId)
          .then((res) => {
            console.log("Delecte",this.userId);
            this.$root.$refs.TableUsers.getAll();
          })
          .catch((err) => {
            console.log(err);
          });
      },
    },
  };
  </script>
  <style></style>
  