<template>
  <div>
    <b-modal id="bv-modal-editUser" title="เพิ่มผู้ใช้" hide-footer>
      <b-form-group label="ชื่อ-สกุล:">
        <b-form-input
          v-model="form.nameInput"
          id="name"
          :state="validateName"
          name="form.nameInput"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="อีเมลล์:">
        <b-form-input
          v-model="form.emailInput"
          id="email"
          required
          type="email"
          placeholder="@email"
          :state="validateEmail"
          name="form.emailInput"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="รหัสนิสิต:">
        <b-form-input
          v-model="form.studentIdInput"
          id="studentId"
          placeholder="6116****"
          :state="validateStudentId"
          name="form.studentIdInput"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="สถานะ" :state="validateType">
        <b-form-radio v-model="form.type" name="นิสิต" value="นิสิต"
          >นิสิต</b-form-radio
        >
        <b-form-radio v-model="form.type" name="อาจารย์" value="อาจารย์"
          >อาจารย์</b-form-radio
        >
        <b-form-radio v-model="form.type" name="เจ้าหน้าที่" value="เจ้าหน้าที่"
          >เจ้าหน้าที่</b-form-radio
        >
        <b-form-radio v-model="form.type" name="แอดมิน" value="แอดมิน"
          >แอดมิน</b-form-radio
        >
      </b-form-group>
      <b-form-group label="สาขา" :state="validateBranch">
        <b-form-radio v-model="form.branch1" name="-" value="-"
          >ไม่มี</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="CS" value="CS"
          >วิทยาการคอมพิวเตอร์</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="IT" value="IT"
          >เทคโนโลยีสารสนเทศเพื่ออุตสาหกรรมดิจิทัล</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="SE" value="SE"
          >วิศวกรรมซอฟต์แวร์</b-form-radio
        >
        <b-form-radio v-model="form.branch1" name="AI" value="AI"
          >ปัญญาประดิษฐ์ประยุกต์และเทคโนโลยีอัจฉริยะ</b-form-radio
        >
      </b-form-group>
      <!-- <div>
          {{ validateForm }}
        </div>
        <div>
          {{ form }}
        </div> -->
      <b-button
        variant="danger"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-editUser'), reset()"
        >ยกเลิก</b-button
      >
      <b-button
        variant="primary"
        style="float: right; margin-right: 20px"
        class="mt-3"
        block
        @click="handleOk(userId)"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
  <script>
import axios from "axios";
export default {
  props: ["userId"],
  data() {
    return {
      form: {
        _id: "",
        nameInput: "",
        emailInput: "",
        passwordInput: "",
        studentIdInput: "",
        branch1: "",
        type: "",
      },
      user: [],
    };
  },
  methods: {
    getUser(userId) {
      axios
        .get("http://localhost:3000/users/" + userId)
        .then((res) => {
          this.user = res.data;
          console.log(this.user);
          this.form._id = this.user._id;
          this.form.nameInput = this.user.name;
          this.form.emailInput = this.user.email;
          this.form.passwordInput = this.user.password;
          this.form.studentIdInput = this.user.studentId;
          this.form.branch1 = this.user.branch;
          this.form.type = this.user.type;
          console.log(this.form);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    handleOk(userId) {
      this.updateUser(userId);
      this.$nextTick(() => {
        this.$bvModal.hide("bv-modal-editUser");
      });
    },
    reset() {
      this.form = {
        _id: "",
        nameInput: "",
        emailInput: "",
        passwordInput: "",
        studentIdInput: "",
        branch1: "",
        type: "",
      };
    },
    updateUser(userId) {
      var user = {};
      (user.email = this.form.emailInput),
        (user.password = this.form.passwordInput),
        (user.name = this.form.nameInput),
        (user.type = this.form.type),
        (user.branch = this.form.branch1),
        (user.studentId = this.form.studentIdInput);
      axios
        .put("http://localhost:3000/users/" + userId, user)
        .then((res) => {
          console.log(res);
          // this.getAll()
          //รีฟอร์ม รีหน้า
          this.reset();
          this.$root.$refs.TableUsers.getAll();
          //
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  // watch: {
  //   role: function (newValue, oldValue) {
  //     if (newValue == "STUDENT") {
  //       this.form.type = "นิสิต";
  //     } else if (newValue == "TEACHER") {
  //       this.form.type = "อาจารย์";
  //     } else if (newValue == "OFFICER") {
  //       this.form.type = "เจ้าหน้าที่";
  //     } else if (newValue == "ADMIN") {
  //       this.form.type = "แอดมิน";
  //     } else {
  //       console.log("Noooooo");
  //     }
  //     console.log(type);
  //   },
  // },
  mounted() {
    this.getUser(this.userId);
    // console.log(this.userId);
  },
  computed: {
    validateName() {
      return this.form.nameInput.length >= 10;
    },
    validateEmail() {
      return this.form.emailInput.length != 0;
    },
    validatePassword() {
      return this.form.passwordInput.length >= 10;
    },
    validateStudentId() {
      return this.form.studentIdInput !== "";
    },
    validateRole() {
      return this.form.role !== "";
    },
    validateType() {
      return this.form.type !== "";
    },
    validateBranch() {
      return this.form.branch1 !== "";
    },
  },
};
</script>
  <style>
</style>