<template lang="">
    <div>
        <b-modal id="bv-modal-editPosition" title="แก้ไขตำแหน่ง" hide-footer>
        <b-form-group label="ตำแหน่ง">
        <!-- <select v-model="selectedOptionPosition">
      <option
        v-for="(item, index) in optionsPosition"
        :value="{ id: item._id }"
        :key="index"
      >
        {{ item.namePos }}
      </option>
    </select> -->
    <td> {{ user.namePos }} </td>
        </b-form-group>
    <b-form-group label="รายชื่ออาจารย์">
        <select v-model="selectedOptionName">
      <option
        v-for="(item, index) in optionsName"
        :value="{ id: item._id }"
        :key="index"
      >
        {{ item.name }}
      </option>
    </select>
    </b-form-group>
    <b-button
      variant="danger"
      style="float: right;  margin-right: 20px;"
      class="mt-3"
      block
      @click="$bvModal.hide('bv-modal-editPosition')"
      >ยกเลิก</b-button
    >

    <b-button
      variant="primary"
      style="float: right;  margin-right: 20px;"
      class="mt-3"
      block
      @click="$bvModal.hide('bv-modal-editPosition'),updatePosition(id,selectedOptionName.id)"
      >ตกลง</b-button
    >
    </b-modal>
    </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["id"],
  data() {
    return {
      user: [],
      optionsName: [],
      optionsPosition: [],
      selectedOptionName: "null",
      selectedOptionPosition: "null",
    };
  },
  mounted() {
    this.loadOptionsName();
    this.loadOptionsPosition(this.id);
  },
  methods: {
    loadOptionsName() {
      axios.get("http://localhost:3000/search").then((optionsName) => {
        this.optionsName = optionsName.data;
        // console.log(optionsName);
      });
    },
    loadOptionsPosition(userId) {
        axios.get("http://localhost:3000/positions/"+ userId).then((optionsPosition) => {
        this.user = optionsPosition.data;
        console.log(optionsPosition.data);
        // this.$root.$refs.Student.getData()
      });
    },
    async updatePosition(id,userId) {
      try {
        var detail = {};
        detail.userId = userId;
        console.log(id)
        // console.log(userId);
        await axios.put("http://localhost:3000/positions/" + id, detail);
         this.$root.$refs.TablePositions.getAll();
      } catch (err) {
        console.log(err);
      }
      // location.reload(true);
    },
  },
};
</script>