<template>
  <div id="app">
    <div id="nav" v-if="showManuName">
      <router-link to="/">Home</router-link> |
      <router-link to="/student">Student</router-link> |
      <router-link to="/teacher">Teacher</router-link> |
      <router-link to="/officer">Officer</router-link> |
      <router-link to="/admin">Admin</router-link> |
    </div>
    <router-view />
  </div>
</template>
<script>
import UploadFile from './components/UploadFile.vue'
export default {
  components: { UploadFile },
  data () {
    return {
      showManuName: false,
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
