<template lang="">
    <div>
        <slot>

        </slot>
    </div>
</template>
<script>
export default {
    computed:{
        isLogin(){
            return this.$store.getters['auth/isLogin']
        }
    },
    Watch: {
        isLogin(newValue, oldValue){
            if(!newValue){
                this.$router.push('/home')
            }
        }
    },
    mounted () {
        if(!this.isLogin){
        this.$router.push('/home')
        }
    }
}
</script>