<template>
  <div>
    <b-modal id="bv-modal-popupSend" title="ข้อมูล" hide-footer>
      <b-button
        variant="outline-primary"
        @click="(showValue1 = true), (showValue2 = false)"
        >ตำแหน่งอาจารย์</b-button
      >
      |
      <b-button
        variant="outline-primary"
        @click="(showValue2 = true), (showValue1 = false)"
        >รายชื่ออาจารย์</b-button
      >
      <div id="sendname">
        <send-position-teacher v-show="showValue1" :documentId="documentId"></send-position-teacher>
        <send-name-teacher v-show="showValue2" :documentId="documentId"
          ></send-name-teacher
        >
      </div>
    </b-modal>
  </div>
</template>
<script>
import SendNameTeacher from "./SendNameTeacher.vue";
import SendPositionTeacher from "./SendPositionTeacher.vue";
export default {
  props: ["documentId"],
  data() {
    return {
      showValue1: false,
      showValue2: false,
    };
  },
  components: {
    SendNameTeacher,
    SendPositionTeacher
  },
  methods: {
  },
};
</script>
<style></style>
