<template>
  <div>
    <b-modal id="bv-modal-popupLoad" title="ข้อมูล" hide-footer>
      <form @submit.prevent="sendFile" enctype="multipart/form-data">
        <div class="field">
          <input type="file" ref="file" @change="selectFile" accept=".pdf" />
          <button id="bt-send" class="button-7" style="float: right" @click="$bvModal.hide('bv-modal-popupLoad')">
            อัปโหลด
          </button>
        </div>
      </form>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      file: "",
    };
  },
  methods: {
    selectFile() {
      try {
       this.file = this.$refs.file.files[0]; 
      } catch (error) {
        
      }
    },
    async sendFile() {
      const formData = new FormData();
      formData.append("uploadFile", this.file);
      formData.append("userId",this.$store.state.auth.user._id);
      formData.append("status", "กำลังดำเนินการ");

      try {
        await axios.post("http://localhost:3000/documents", formData);
//-----
      } catch (err) {
        console.log(err);
      }
      this.$root.$refs.Student.getData()
      // location.reload(true);
    },
  },
};
</script>
<style>
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}
</style>
