<template>
  <div>
    <b-modal id="bv-modal-popupDelect" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
        <h3>ต้องการลบเอกสารใช่หรือไม่!!</h3>
      </div>
      <b-button
        variant="danger"
        style="float: right;  margin-right: 20px;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupDelect')"
        >ยกเลิก</b-button
      >
      <b-button
        variant="primary"
        style="float: right;  margin-right: 20px;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupDelect'), delectData(documentId)"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["documentId"],
  data() {},
  methods: {
    delectData(documentId) {
      axios
        .delete("http://localhost:3000/documents/" + documentId)
        .then((res) => {
          console.log("Delecte",this.documentId);
          this.$root.$refs.Student.getData()
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getData(documentId) {
      this.documentId = documentId;
    },
  },
};
</script>
<style></style>
