<template>
  <div>
    <select v-model="selectedOption">
      <option
        v-for="(item, index) in options"
        :value="{ id: item.userId }"
        :key="index"
      >
        {{ item.namePos }}
      </option>
    </select>

    <b-button
      variant="danger"
      style="float: right;  margin-right: 20px;"
      class="mt-3"
      block
      @click="$bvModal.hide('bv-modal-popupSend')"
      >ยกเลิก</b-button
    >

    <b-button
      variant="primary"
      style="float: right;  margin-right: 20px;"
      class="mt-3"
      block
      @click="$bvModal.hide('bv-modal-popupSend'),sendDocument(documentId, selectedOption.id)"
      >ตกลง</b-button
    >
  </div>
</template>
  
  <script>
import axios from "axios";
export default {
  props: ["documentId"],
  name: "ExampleOptions",
  data() {
    return {
      options: [],
      selectedOption: null,
    };
  },
  mounted() {
    this.loadOptions();
  },
  methods: {
    loadOptions() {
      axios.get("http://localhost:3000/positions").then((options) => {
        this.options = options.data;
        this.$root.$refs.Student.getData()
        console.log(options);
      });
    },
    sendDocument(documentId, data2) {
      console.log(document);
      var detail = {};
      detail.documentId = documentId;
      detail.studentId = this.$store.state.auth.user._id;
      detail.teacherId = data2;

      axios
        .post("http://localhost:3000/sendingDetails", detail)
        //-----
        .then((res) => {
          console.log(res);
          this.$root.$refs.Student.getData()
        })
        .catch((err) => {
          console.log(err);
        });
      // location.reload(true);
    },
  },
};
</script>