<template>
  <div>
    <b-modal id="bv-modal-popupCancel" title="ยกเลิกเอกสาร" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
        <h3>ต้องการยกเลิกเอกสารใช่หรือไม่!!</h3>
      </div>
      <b-button
        style="float: right;  margin-right: 20px;"
        variant="danger"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel')"
        >ยกเลิก</b-button
      >

      <b-button
        style="float: right;  margin-right: 20px;"
        variant="primary"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel'), delectData(document)"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["document"],
  data() {},
  methods: {
    delectData(document) {
      axios
        .delete("http://localhost:3000/sendingDetails/" + document)
        // this.$root.$refs.Teacher.getData()
        .then((res) => {
          console.log("Cancel",this.document);
          this.$root.$refs.Teacher.getData()
        })
        .catch((err) => {
          console.log(err);
        });

      // location.reload(true);
    },
    getData(document) {
      this.document = document;
    },
  },
};
</script>
<style>
#name_label {
  display: inline-block;
  width: 100%;
  text-align: left;
}
</style>
